# Don't put any spaces between the equal sign!

# DEBUG: Just enables the logger.
# TZ: Sets the time in accordance with JST Timezone so midnight = midnight in Japan. You can set this to whatever you want.
DEBUG=app,db:*,routes:*,api:*,helper:*
TZ=Asia/Tokyo

# LOG_LEVEL: Set log level. 0 = Error; 1 = Warn; 2 = Info; 3 = Verbose;
LOG_LEVEL=2

# This is where you put your GCP API key. Get it from [https://console.developers.google.com/apis/credentials] under 'API Keys'.
GOOGLE_API_KEY=

# Choose any valid port here. Defaults to 2434.
PORT=2434

# Set localhost as default when not using docker-compose
MONGO_HOST=localhost
MONGO_PORT=27017
MEMCACHED_HOST=localhost
MEMCACHED_PORT=11211

# Set how long you want to store cache
TTL_SHORT=20
TTL_LONG=900
