* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  color: #dadada;
  --bg-primary: #1a1b1f;
  --bg-accent: #16171a;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #310431;
}

::-webkit-scrollbar-thumb {
  background: #750f75;
  border-radius: 6px;
}

@media (max-width: 800px) {
  .sidenav {
    visibility: hidden;
  }
  .main {
    top: 0;
    left: 0;
    position: fixed;
    height: 66%;
    width: 100%;
    overflow-y: auto;
  }
  .explorer {
    left: 0;
    top: 66%;
    position: fixed;
    height: 34%;
    width: 100%;
    background-color: var(--bg-accent);
    overflow-y: auto;
  }
  .explorer .title {
    background-color: var(--bg-accent);
    margin-top: 0;
    border-top: 1px solid #151610;
    border-bottom: 1px solid #151610;
    position: sticky;
    padding: 1rem 0;
    width: calc(100% - 1rem);
    top: 0;
  }
}

@media (min-width: 800px) {
  .sidenav {
    background-color: var(--bg-accent);
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 100vh;
    width: 15rem;
  }
  .main {
    position: fixed;
    overflow: auto;
    margin-left: 15rem;
    height: 100%;
    width: calc(100vw - max(33%, 20em) - 15rem);
  }
  .explorer {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    min-width: 20em;
    width: 33%;
    right: 0;
    top: 0;
    background-color: var(--bg-accent);
  }
  .explorer .title {
    top: 0;
    margin-top: 0;
    align-items: center;
    display: flex;
    height: 3.5rem;
    position: sticky;
    border-bottom: 2px solid #151610;
    background-color: var(--bg-accent);
  }
}

body {
  background-color: var(--bg-primary);
  padding: 0;
  margin: 0;
  top: 0;
}

.sidenav-btn {
  display: flex;
  height: 3rem;
  padding-left: 0.7rem;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-accent);
  font-size: 1.2rem;
  transition: filter 100ms;
}

.sidenav-btn:hover {
  filter: brightness(1.25);
}

.main :not(hr) :not(span) {
  margin-left: 1rem;
}

hr {
  background-color: #3d3d3d;
  height: 1px;
  border: none;
}

.explorer :not(span) {
  margin: 1rem;
}

pre {
  margin: 20px;
  display: block;
  padding: 1rem;
  font-family: monospace;
  font-size: 14px;
  border-radius: 4px;
  background-color: #1f2723;
  color: #eff;
  overflow: auto;
}

code.success {
  background-color: #1f2723;
  color: #90ee90;
}

code.success p.string {
  color: #fd3d3d;
}

span {
  font-family: monospace;
}

.main .endpoint-title {
  margin-left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  height: 3.5rem;
  position: sticky;
  background-color: var(--bg-accent);
  box-shadow: 1px 1px 2px #0c0c0e;
}

.endpoint-title h1, .explorer h2 {
  color: #be6ab7;
  left: 0;
}

span.endpoint {
  box-sizing: border-box;
  background-color: #1f2723;
  font-size: large;
  align-self: center;
  justify-content: right;
  margin-left: auto;
  margin-right: 1rem;
  padding: 0.2rem;
  border-radius: 3px;
  color: #c3e88d;
}

span.json-punc {
  color: #c3e88d;
}

span.json-key {
  font-weight: 600;
  color: #5f8bec;
}

span.json-val-type {
  font-style: italic;
  font-weight: 400;
  color: #ff5370;
}

span.json-val-string {
  color: #c3e88d;
}

span.json-val-number {
  color: #f78c6c;
}

span.code-variable {
  color: #f07178;
}

span.code-value {
  color: #f07178;
}

span.code-keyword {
  color: #C792EA;
}

span.code-func {
  color: #82aaff;
}

span.code-quot, .code-symbol {
  color: #89ddff;
}

span.code-string {
  color: #c3e88d;
}

span.code-comment {
  font-style: italic;
  color: #4a4a4a;
}

span.inline-code {
  padding: 0.2rem;
  display: inline-flex;
  background-color: #141519;
  font-family: monospace;
  font-size: 16px;
  border-radius: 4px;
}

.explanation {
  text-indent: 1rem;
}